@CHARSET "UTF-8";
@import url(//fonts.googleapis.com/earlyaccess/notosanstc.css);

/* Common */
body {
    font-family: 'Noto Sans TC', sans-serif;
}

.no-margin-bottom {
    margin-bottom: 0;
}

/* Navbar */
nav ul a,nav .brand-logo {
    color: #444;
}

.button-collapse {
    color: #26a69a;
}

@media only screen and (max-width : 992px) {
    .parallax-container .section {
        position: absolute;
        top: 40%;
    }
    #index-banner .section {
        top: 10%;
    }
}

@media only screen and (max-width : 600px) {
    #index-banner .section {
        top: 0;
    }
}

/* Form Templates */
.search-input {
    margin-top: -10px;
}

.a-fa {
    font-size: 25px;
    margin-right: 10px;
    margin-left: 10px;
}

.a-fa:hover {
    color: #00BFFF;
}

.a-button {
    margin-right: 10px;
    margin-left: 10px;
}

.btn:not(.waves-light) {
    background-color: #fff;
    color: #212121;
}

.view input[type=text]:not(.browser-default):disabled {
    color: black;
}

.view textarea:not(.browser-default):disabled {
    color: black;
}

.datepicker-label {
    position: relative;
    margin-top: 1rem;
    font-size: 16px;
}

/* Footer */
main {
    padding-bottom: 100px;
}

footer {
    position: fixed;
    width: 100%;
    bottom: 0;
}

/* Paginate Style */
.paginate {
    padding-bottom: 20px;
    margin-top: 10px;
}

.step {
    padding: 10px;
    color: black;
    text-decoration: none;
    transition: background-color .3s;
    border: 1px solid #ddd;
}

.nextLink {
    padding: 10px;
    color: black;
    text-decoration: none;
    transition: background-color .3s;
    border: 1px solid #ddd;
}

.prevLink {
    padding: 10px;
    color: black;
    text-decoration: none;
    transition: background-color .3s;
    border: 1px solid #ddd;
}

.currentStep {
    padding: 10px;
    background-color: #009688 ;
    color: white;
    border: 1px solid #048e81;
}

.step.gap {
    display: none;
}

.step:hover:not(.active) {
    background-color: #ddd;
}

/* Chart Page */
.right-menu {
    position: fixed;
    right: 2rem;
    top: 25rem;
}

@media only screen and (min-width: 993px) {
    .chart canvas {
        margin-bottom: 100px;
    }
}

.table-of-contents a.active {
    border-left: 2px solid #26a69a;
}

.table-of-contents a:hover{
    color:#a8a8a8;
    border-left:1px solid #26a69a
}

.table-of-contents a.active{
    border-left:2px solid #26a69a
}

th {
    padding: 2px 5px;
}

td {
    padding: 2px 5px;
}

/* Custom Font Size */
table {
    font-size: 20px;
}

nav ul a {
    font-size: 20px;
}

.input-field:not(.select) label {
    font-size: 20px;
}

input:not([type]), input[type=text]:not(.browser-default), input[type=password]:not(.browser-default), input[type=email]:not(.browser-default), input[type=url]:not(.browser-default), input[type=time]:not(.browser-default), input[type=date]:not(.browser-default), input[type=datetime]:not(.browser-default), input[type=datetime-local]:not(.browser-default), input[type=tel]:not(.browser-default), input[type=number]:not(.browser-default), input[type=search]:not(.browser-default), textarea.materialize-textarea {
    font-size: 20px;
}

.select .select-wrapper .select-dropdown {
    font-size: 20px;
}

.select > label {
    font-size: 16px;
}

.label-font {
    font-size: 16px;
}